<div class="homepage">
<%- include('./partials/header')%>

<div class="container mt-5 text-center">
  
  <h1 class="text-white"  style="font-family: montserrat; font-weight: 700;">Welcome !<br>
    Land your dream <i style="color: rgb(231, 28, 170);">JOB</i> with the help of our Resume Builder</h1>
  
   <a class="btn btn-success" href="/signin">Signin to Build Resume</a>
</div>

<%- include('./partials/footer')%>
</div>